@import "colors.scss";
@import "animations.scss";
@import "menu.scss";
@import "buttons.scss";
@import "console.scss";
@import "toolbox.scss";
@import "graph.scss";
@import "toolbar.scss";
@import "template-list.scss";
@import "minimap.scss";
@import "node-help.scss";

body,
html {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    color: $text-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($primary-color, 6);
}

.tooltip {
    height: 20px;
    font-size: 13px;
    color: $text-color;
    text-align: start;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    background-color: lighten($accent-color, 3);
    border: 1px solid $accent2-color;
    padding: 4px;
    position: absolute;
    bottom: 0px;
    left: 250px;
    opacity: 0.9;
    z-index: 1000;
    transition: 0.2s;
    pointer-events: none;
}