@import "colors.scss";
@import "animations.scss";
@import "menu.scss";
@import "console.scss";
@import "toolbox.scss";
@import "graph.scss";
@import "toolbar.scss";
@import "template-list.scss";

body,
html {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    color: $text-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($primary-color, 6);
}
