#minimap {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: 140px;
    background-color: darken($primary-color, 5);
    border-radius: 10px;
    opacity: 0.75;
    transition: 2s;

    canvas {
        width: 100%;
        height: 100%;
    }
}