#toolbox {
    position: fixed;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 250px;
    height: bottom;
    background-color: $accent-color;
    border-right: 1px solid $accent2-color;
    margin-top: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    animation-name: appearInToolbox;
    animation-duration: 1s;

    #project-manager {
        .title {
            margin-top: 3px;
            margin-bottom: 3px;
            padding: 5px;
            padding-left: 10px;
            color: white;
            font-weight: bold;
            font-size: 15px;
            background-color: darken($color: $accent-color, $amount: 2);
            svg {
                margin-right: 3px;
            }
        }

        .project-item{
            padding: 5px 5px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            font-size: 13px;
            color: $text-color;
            position: relative;
            
            animation-name: appearInToolbox;
            animation-duration: 1s;

            svg {
                margin-right: 3px;
            }

            .delete-item {
                opacity: 0;
                vertical-align: middle;
                transition: 0.5s;
                position: absolute;
                top: 2px;
                bottom: 2px;
                right: 0px;
                width: 27px;
                color: white;
                padding-top: 5px;
                text-align: center;
                transform: translateX(50px);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:hover {
                background-color: $accent3-color;
                font-weight: bold;
                padding-left: 10px;
                color: white;

                .delete-item {
                    opacity: 1;
                    background-color: rgb(172, 37, 37);
                    transform: translateX(0px);

                    &:hover {
                        background-color: rgb(216, 25, 25);
                        width: 35px;
                    }
                }
            }

            &:active {
                background-color: lighten($color: $accent-color, $amount: 8);
            }
        }
    }

    .col-exp-all {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .searchbox {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;

        input[type="text"] {
            width: 190px;
            padding: 8px;
            border: none;
            background-color: lighten($color: $accent-color, $amount: 5);
            color: $text-color;
            border-radius: 10px;
            text-align: center;
            transition: 0.2s;

            &:hover {
                width: 220px;
                background-color: lighten($color: $accent-color, $amount: 8);
            }

            &:focus {
                width: 220px;
                background-color: lighten($color: $accent-color, $amount: 8);
                outline-width: 0;
            }

            &::placeholder {
                color: $text-color;
            }
        }
    }

    .group-item {
        user-select: none;
        font-size: 15px;
        color: white;

        .group-title {
            background-color: darken($color: $accent-color, $amount: 2);
            position: relative;
            cursor: pointer;
            padding: 5px 6px;

            .expand {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        .group-node-item{
            padding: 5px 5px;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            font-size: 13px;
            color: $text-color;

            &:hover {
                background-color: $accent3-color;
                font-weight: bold;
                padding-left: 10px;
                color: white;
            }

            &:active {
                background-color: lighten($color: $accent-color, $amount: 8);
            }

            .node-type {
                background-color: red;
                position: absolute;
                right: 8px;
                top: 9px;
                width: 15px;
                height: 10px;
                border-radius: 7px;

                &.connector {
                    background-color: $node-type-connector-color;
                }

                &.event {
                    background-color: $node-type-event-color;
                }

                &.function {
                    background-color: $node-type-function-color;
                }

                &.variable {
                    background-color: $node-type-variable-color;
                }

                &.condition {
                    background-color: $node-type-condition-color;
                }

                &.entry-point {
                    background-color: $node-type-entry-point-color;
                }

                &.deployer {
                    background-color: $node-type-deployer-color;
                }
            }

            .node-description {
                display: none;
            }
        }
    }
}