<div class="node-comment" data-comment-id={{id}}>
    <div class="comment-toolbar">
        <div class="comment-toolbar-icon delete-btn">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="text-comment">
        <input type="text" value="Edit the comment .." placeholder="..." spellcheck="false" />
    </div>
</div>