<div class="node-comment-group">
    <div class="node-comment-group-title">
        <i class="fas fa-arrows-alt"></i> <input type="text" />
        <div class="color-container">
            <div class="color-item" data-color="#d64c3a">
            </div>
            <div class="color-item" data-color="#8244a6">
            </div>
            <div class="color-item" data-color="#a69744">
            </div>
            <div class="color-item" data-color="#446aa6">
            </div>
            <div class="color-item" data-color="#6ec248">
            </div>
            <div class="color-item" data-color="#2d3441">
            </div>
        </div>
        <div class="delete-group-btn">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="node-comment-group-description">
        <input type="text" />
    </div>
    <div class="resize-handle"></div>
</div>