<div class="project-item" data-id="{{id}}">
    <i class="fas fa-project-diagram"></i> 
    <span>{{name}}</span>
    <div class="delete-item">
        <i class="fas fa-times"></i>
    </div>
</div>